<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Know Your News!</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/../public/assets/css/style.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- changed the relative pathway for MIME type to be correct -->
        <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">

        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    </head>

    <body>


        <div class="jumbotron">Know Your News
            <h6>A social experiment from Team Chicago</h6>
            <h6>
                <a href="https://github.com/vnardozz/KnowYourNews">our repo link</a>
            </h6>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#mymodal">
                        FAKE NEWS EXAMPLE
                    </button>

                    <div class="modal fade" id="mymodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Did a Man Sue McDonald’s Because He Was Depressed After Eating a Happy Meal?</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe width="500" height="400" src="https://www.youtube.com/embed/z-bk-AcZn1g" frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen></iframe>
                                    <!-- <img src="../public/assets/imgs/mcdonalds.jpg" class="img-thumbnail" alt="McDonalds"> -->
                                    </p>Some people take marketing campaigns very seriously. This is the case of Ruben Caradehuevo,
                                    a depressed man that sued McDonalds for about $1.5 million dollars because after he ate his
                                    happy meal, he was still depressed.</p>
                                    <p>[…]</p>
                                    <p>“I bought my happy meal, thinking that that would be the perfect solution for my depression",
                                    Caradehuevo relates. He kept going: “I started eating and I was half way done, but my
                                    depression was still there”, he states. After finishing his food, the depression hadn’t
                                    still gone away, and he got really pissed.</p>                       

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#mymodaltwo">
                        REAL NEWS EXAMPLE
                    </button>
                    <div class="modal fade" id="mymodaltwo">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Flight attendants get more uterine, thyroid and other cancers, study finds</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe width="500" height="400" src="https://www.youtube.com/embed/w_Z_wE24Yoo" frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen></iframe>
                                    <p>A flight attendant's life may look glamorous, but the job comes with health hazards that
                                        go beyond managing surly passengers. As a group, they get certain cancers more than the
                                        general population, according to a new study.</p>
                                    <p>Scientists have long found that flight attendants get more breast cancer and melanoma. The
                                        new study, published Monday in the journal Environmental Health, saw the same trend and
                                        detected a higher prevalence of every other cancer the researchers examined: Non-melanoma
                                        skin cancer, uterine, gastrointestinal, cervical and thyroid cancers were all seen at
                                        a higher rate in flight attendants.</p>
                                    <p>[...]</p>
                                    <p>In Europe, flight attendants' exposure to cosmic ionizing radiation is monitored and limited
                                        more by law. There are no official dose limits for American aircrew. In fact, it wasn't
                                        until 2014 that US flight attendants got protections from the Occupational Safety and
                                        Health Administration like other American workers, but even today, those protections
                                        are limited, Mordukhovich said.</p>
                                    <p>"Our goal with this is to do the science and provide more evidence for policy-makers about
                                        this profession's health," Mordukhovich said. "We hope this helps."</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="intro">
                    <h1>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <main role="main" class="inner cover">
                        <p>
                            <a  class="btn btn-lg btn-primary" href="/quiz">Take Quiz!</a>
                        </p>
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    var i = 0;
    var txt ="Do you really know where your news comes from? With so much information readily accessible at our fingertips these days it is easy to get lost looking for the truth. If you had to, could you call out the real from the fake? Here is your chance, take our quiz and put yourself to the test on how well YOU know your news!";
        var speed = 20; /* The speed/duration of the effect in milliseconds */
        
        function typeWriter() {
        if (i < txt.length) {
            document.getElementById("intro").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    typeWriter();
    </script>