<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Know Your News!</title>
</head>
<body>
<!--vin works here-->
<!--toDos
- background and gen framework on overall layout
- site banner 
- paragraph for intro
-->



























<!--Jess works here -->
<!--toDos
 -location and design of two web links for real and fake
 -take quiz button placement/style
 -footer ( area to link to our github source ) 
-->










    
</body>
</html>


