<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Know Your News!</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/assets/css/vinStyle.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link rel="stylesheet" href="../public/assets/css/jessStyle.css">
<link rel="stylesheet" href="../public/assets/css/style.css">

<!--fonts-->
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>


<div class = "row">
    <div class = "col-md-6">

        <div class="question col-xs-12 col-xs-offset-6">
            <div>
                <div>
                    <div class = "article-area">
                        <h3>Did a Man Sue McDonald’s Because He Was Depressed After Eating a Happy Meal?</h3>
                    </div>
                    <div class = "body">
                        <p>Some people take marketing campaigns very seriously. This is the case of Ruben Caradehuevo, a depressed man that sued McDonalds for about $1.5 million dollars because after he ate his happy meal, he was still depressed.</p>
                        <p>[…]</p>
                        <p>“I bought my happy meal, thinking that that would be the perfect solution for my depression”, Caradehuevo relates. He kept going: “I started eating and I was half way done, but my depression was still there”, he states. After finishing his food, the depression hadn’t still gone away, and he got really pissed.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class = "row" id="answers">
     <button type = "button" class = "fas fa-times col-xs-2" id="fake">
        FAKE
    </button>
    <div class="col-xs-8"></div>

    <button type = "button" class = "fas fa-check col-xs-2" id="real">
        REAL
    </button>
</div>

<div class="row">
    <div class="col-xs-12">
        <footer class="footer">
            <div class="container">
            <span class="text-muted"><a href="https://github.com/vnardozz/KnowYourNews" target="_blank">Github Repo</a></span>
            </div>
        </footer>
    </div>
</div>